//
   Created by heavenduke on 17-4-28.

footer.navbar-fixed-bottom.navbar.navbar-default
    .container
        div.hidden-xs
            ul.nav.navbar-nav
                li
                    a
                        strong GithubMiner
                        |  2017
            ul.nav.navbar-nav.pull-right
                li
                    a(href="https://github.com/HeavenDuke/GithubMiner")
                        i.fa.fa-github
                        |  https://github.com/HeavenDuke/GithubMiner
        div.hidden-lg.hidden-md.hidden-sm
            ul.nav.navbar-nav
                li.text-center
                    a
                        strong GithubMiner
                        |  2017
                    a(href="https://github.com/HeavenDuke/GithubMiner")
                        i.fa.fa-github
                        |  https://github.com/HeavenDuke/GithubMiner