//
   Created by heavenduke on 17-4-28.

html
    head
        title= title
        link(rel="icon" href="/favicon.ico")
    body
        include ./header
        block content
        include ./footer