

form.navbar-form input {
    background-color: #404448;
    border-color: #404448;
    color: white;
}

.markdown-body {
    padding: 5px;
}

.repository-header {
    border-bottom: solid silver 1px;
}

.repository-title h3 a {
    font-weight: bold;
    font-size: 20px;
}

.list-title {
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 5px;
}

.list-item-title {
    font-size: 15px;
    font-weight: bold;
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
}

.list-item-title-lg {
    font-size: 20px;
    font-weight: bold;
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
}

.list-item-description {
    margin-top: 5px;
}

.list-item-memo {
    font-size: 10px;
    margin-bottom: 0;
}

.list-nothing {
    height: 150px;
    font-size: 30px;
    line-height: 30px;
    padding-top: 60px;
    padding-bottom: 60px;
}

a {
    cursor: pointer;
    color: #0366d6;
}

.darkgray {
    color: darkgray;
}

.golden {
    background-color: goldenrod;
}

.silver {
    background-color: silver;
}

.bronze {
    background-color: chocolate;
}

ul.list-group li.medal-title {
    height: 75px;
    font-size: 25px;
    line-height: 25px;
    padding-top: 25px;
    padding-bottom: 25px;
}

ul.list-group li.medal-title a{
    color: white;
}

li.medal-description {
    height: 100px;
}

li.medal-description p {
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
}

.event-item {
    font-size: 16px;
}

.event-item span {
    font-size: 12px;
}

.query {
    margin-top: 10%;
}

.btn-inverse {
    background-color: #404448;
    color: #9d9d9d;
    border-left-color: transparent;
}

.empty-list li{
    height: 400px;
    font-size: 30px;
    line-height: 30px;
    padding-top: 185px;
    padding-bottom: 185px;
}

.language-selector {
    cursor: pointer;
}

.star {
    color: #404448;
    cursor: pointer;
}