

form.navbar-form input {
    background-color: #404448;
    border-color: #404448;
    color: white;
}

.markdown-body {
    padding: 5px;
}

.repository-header {
    border-bottom: solid silver 1px;
}

.repository-title h3 a {
    font-weight: bold;
    font-size: 20px;
}

.list-title {
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 5px;
}

.list-item-title {
    font-size: 15px;
    font-weight: bold;
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
}

.list-item-description {
    margin-top: 5px;
}

a {
    cursor: pointer;
    color: #0366d6;
}

.refresher {
    color: darkgray;
}

.golden {
    background-color: goldenrod;
}

.silver {
    background-color: silver;
}

.bronze {
    background-color: chocolate;
}

ul.list-group li.medal-title {
    height: 75px;
    font-size: 25px;
    line-height: 25px;
    padding-top: 25px;
    padding-bottom: 25px;
}

ul.list-group li.medal-title a{
    color: white;
}

li.medal-description {
    height: 100px;
}

li.medal-description p {
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
}