extends ../layout/layout

block content
    .container
        .row.panel
            #carousel-example-generic.carousel.slide(data-ride='carousel')
                // Indicators
                ol.carousel-indicators
                    li.active(data-target='#carousel-example-generic', data-slide-to='0')
                    li(data-target='#carousel-example-generic', data-slide-to='1')
                    li(data-target='#carousel-example-generic', data-slide-to='2')
                // Wrapper for slides
                .carousel-inner(role='listbox')
                    .item.active
                        img(src='https://scarletphoenixolivia.files.wordpress.com/2015/04/carousel2_slideshow1560x592_0.jpg', alt='...')
                        .carousel-caption
                            h1 Image1
                            p 1st
                    .item
                        img(src='https://scarletphoenixolivia.files.wordpress.com/2015/04/carousel2_slideshow1560x592_0.jpg', alt='...')
                        .carousel-caption
                            h1 Image2
                            p 2nd
                    .item
                        img(src='https://scarletphoenixolivia.files.wordpress.com/2015/04/carousel2_slideshow1560x592_0.jpg', alt='...')
                        .carousel-caption
                            h1 Image3
                            p 3rd
                // Controls
                a.left.carousel-control(href='#carousel-example-generic', role='button', data-slide='prev')
                    span.glyphicon.glyphicon-chevron-left(aria-hidden='true')
                    span.sr-only Previous
                a.right.carousel-control(href='#carousel-example-generic', role='button', data-slide='next')
                    span.glyphicon.glyphicon-chevron-right(aria-hidden='true')
                    span.sr-only Next
        .row
            .row.col-md-8.panel
                .row.panel-heading
                    h1.col-md-10
                        strong Ranking
                    h1.btn-group.col-md-1
                        button.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                            | Filter
                            span.caret
                        ul.dropdown-menu
                            li
                                a(href='#') Best Match
                            li
                                a(href='#') Most Stars
                            li
                                a(href='#') Most Popular
                            li.divider(role='separator')
                            li
                                a(href='#') Special
                .row.panel-body
                    for rank in ranking
                        .row.panel.col-md-offset-1.col-md-11
                            h2 
                                a(href="/repositories/" + rank.repository_id)= rank.name
                            p=rank.description
                            
                    nav(aria-label='Page navigation')
                        ul.pagination
                            li
                                a(href='#', aria-label='Previous')
                                    span(aria-hidden='true') «
                            li
                                a(href='#') 1
                            li
                                a(href='#') 2
                            li
                                a(href='#') 3
                            li
                                a(href='#') 4
                            li
                                a(href='#') 5
                            li
                                a(href='#', aria-label='Next')
                                    span(aria-hidden='true') »
            .row.col-md-4
                .row.panel
                    h1 Temp-Block-1
                .row.panel
                    h1 Temp-Block-2
    h1 Welcome to GithubMiner(ranking page)!
    p
        strong Overall数据：
    for rank in ranking
        p
            a(href="/repositories/" + rank.repository_id)= rank.name
            strong= " (" + rank.stargazers_count + ")"
